version: '3.7'

services:
  web:
    build:
      context: ./
      dockerfile: Dockerfile
    command: gunicorn school.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - static_volume:/home/app/web/static
      - media_volume:/home/app/web/media
    expose:
      - 8000
    depends_on:
      - db
      - redis
    env_file:
      - ./.env.prod
    links:
      - redis
  db:
    image: postgres:10.1-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - ./.env.db
  vue:
    build:
      context: ./scool-ui
      dockerfile: Dockerfile
    volumes:
      - vue_dist:/app/dist
    depends_on:
      - web
  redis:
    image: "redis:alpine"
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
  daphne:
    build: .
    working_dir: /home/app/web
    command: daphne -b 0.0.0.0 -p 8001 school.asgi:application
    ports:
      - "8001:8001"
    environment:
      - REDIS_HOST=redis
    depends_on:
      - redis
    links:
      - redis
  nginx:
    build: ./nginx
    ports:
      - 80:80
    volumes:
      - static_volume:/home/app/web/static
      - media_volume:/home/app/web/media
      - vue_dist:/app/dist
    depends_on:
      - web
      - vue
      - daphne
    links:
      - daphne

volumes:
  postgres_data:
  static_volume:
  media_volume:
  vue_dist:
  redis_data:
