<!DOCTYPE html>
<html lang='ru'>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Академия будущего</title>
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.css">
    <link rel='stylesheet' href='../assets/css/style.css'/>
</head>
<!--https://evie.undraw.co/docs-->
<body>
<div class="nav_bar">
    <nav class="nav__mobile"></nav>
    <div class="container">
        <div class="navbar__inner">
            <a href="index.html" class="navbar__logo">Logo</a>
            <nav class="navbar__menu">
                <ul class="main-nav">
                    <li><a href="index.html">Главная</a></li>
                    <li><a href="education.html">Обучение</a></li>
                    <li><a href="construction-page.html">Новости</a></li>
                    <li><a href="construction-page.html">Об академии</a></li>
                    <li><a href="construction-page.html">Контакты</a></li>
                </ul>
                <ul>
                    <li><a href="profile.html">Иван Гришин</a></li>
                    <li>
                        <img class="center" src="../assets/images/avatars/mike.jpeg"
                             style="display: inline-block; width: 30px; height: 30px; border: 0; border-radius: 50%; margin: auto; text-align: right">
                    </li>
                </ul>
            </nav>
            <div class="navbar__menu-mob"><a href="" id='toggle'>
                <svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                    <path fill="currentColor"
                          d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"
                          class=""></path>
                </svg>
            </a></div>
        </div>
    </div>
</div>
<div class="step landing__section" style="background-color: #f7f7f7">
    <div class="page">
        <div class="container mt-4">
            <h1 class="mb-4 center">Программы обучения</h1>
            <div class="page__inner">
                <div class="page__menu">
                    <h3>Направления</h3>
                    <hr>
                    <ul class="vMenu">
                        <li class="left-align px-2"><a href="#"> Все направления </a></li>
                        <li class="left-align px-2"><a href="#"> Программирование </a></li>
                        <li class="left-align px-2"><a href="#"> Информатика </a></li>
                        <li class="left-align px-2"><a href="#"> Дизайн </a></li>
                        <li class="left-align px-2"><a href="#"> Английский язык </a></li>
                        <li class="left-align px-2"><a href="#"> Маркетинг </a></li>
                        <li class="left-align px-2"><a href="#"> Шахматы </a>
                    </ul>
                </div>
                <div class="page__main">
                    <form>
                        <input type='text' placeholder="Поиск">
                    </form>
                    <div class="row" style="border-bottom: 2px solid #f7f7f7; padding-bottom: 10px;">
                        <div class="col-md-8">
                            <h4 class="left-align"><a href="courses/python.html">Основы языка Python</a></h4>
                            <h6 class="left-align">Программирование</h6>
                        </div>
                        <div class="col-md-4 left-align pt-4" style="color: #cc3e2b;">
                            <div style="display: block"><a href="courses/python.html">Подробнее о курсе</a></div>
                            <div style="display: block"><a href="">Записаться на курс</a></div>
                        </div>
                    </div>
                    <div class="row" style="border-bottom: 2px solid #f7f7f7; padding-bottom: 10px;">
                        <div class="col-md-8">
                            <h4 class="left-align"><a href="courses/python.html">Photoshop с нуля</a></h4>
                            <h6 class="left-align">Дизайн</h6>
                        </div>
                        <div class="col-md-4 left-align pt-4" style="color: #cc3e2b;">
                            <div style="display: block"><a href="courses/python.html">Подробнее о курсе</a></div>
                            <div style="display: block"><a href="">Записаться на курс</a></div>
                        </div>
                    </div>
                    <div class="row" style="border-bottom: 2px solid #f7f7f7; padding-bottom: 10px;">
                        <div class="col-md-8">
                            <h4 class="left-align"><a href="courses/python.html">Python Advanced</a></h4>
                            <h6 class="left-align">Программирование</h6>
                        </div>
                        <div class="col-md-4 left-align pt-4" style="color: #cc3e2b;">
                            <div style="display: block"><a href="courses/python.html">Подробнее о курсе</a></div>
                            <div style="display: block"><a href="">Записаться на курс</a></div>
                        </div>
                    </div>
                    <div class="row" style="border-bottom: 2px solid #f7f7f7; padding-bottom: 10px;">
                        <div class="col-md-8">
                            <h4 class="left-align"><a href="courses/python.html">Hello English</a></h4>
                            <h6 class="left-align">Английский язык</h6>
                        </div>
                        <div class="col-md-4 left-align pt-4" style="color: #cc3e2b;">
                            <div style="display: block"><a href="courses/python.html">Подробнее о курсе</a></div>
                            <div style="display: block"><a href="">Записаться на курс</a></div>
                        </div>
                    </div>
                    <div class="row" style="border-bottom: 2px solid #f7f7f7; padding-bottom: 10px;">
                        <div class="col-md-8">
                            <h4 class="left-align"><a href="courses/python.html">Копирайтинг от А до Я</a></h4>
                            <h6 class="left-align">Маркетинг</h6>
                        </div>
                        <div class="col-md-4 left-align pt-4" style="color: #cc3e2b;">
                            <div style="display: block"><a href="courses/python.html">Подробнее о курсе</a></div>
                            <div style="display: block"><a href="">Записаться на курс</a></div>
                        </div>
                    </div>
                    <div class="row" style="border-bottom: 2px solid #f7f7f7; padding-bottom: 10px;">
                        <div class="col-md-8">
                            <h4 class="left-align"><a href="courses/python.html">Основы веб разработки</a></h4>
                            <h6 class="left-align">Программирование</h6>
                        </div>
                        <div class="col-md-4 left-align pt-4" style="color: #cc3e2b;">
                            <div style="display: block"><a href="courses/python.html">Подробнее о курсе</a></div>
                            <div style="display: block"><a href="">Записаться на курс</a></div>
                        </div>
                    </div>
                    <div class="row" style="border-bottom: 2px solid #f7f7f7; padding-bottom: 10px;">
                        <div class="col-md-8">
                            <h4 class="left-align"><a href="courses/python.html">Как устроен компьютер</a></h4>
                            <h6 class="left-align">Информатика</h6>
                        </div>
                        <div class="col-md-4 left-align pt-4" style="color: #cc3e2b;">
                            <div style="display: block"><a href="courses/python.html">Подробнее о курсе</a></div>
                            <div style="display: block"><a href="">Записаться на курс</a></div>
                        </div>
                    </div>
                    <div class="row" style="border-bottom: 2px solid #f7f7f7; padding-bottom: 10px;">
                        <div class="col-md-8">
                            <h4 class="left-align"><a href="courses/python.html">Основы баз данных</a></h4>
                            <h6 class="left-align">Программирование</h6>
                        </div>
                        <div class="col-md-4 left-align pt-4" style="color: #cc3e2b;">
                            <div style="display: block"><a href="courses/python.html">Подробнее о курсе</a></div>
                            <div style="display: block"><a href="">Записаться на курс</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer footer--dark">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__data__item">
                <div class="footer__row">
                    <a href="index.html" class="footer__textLogo">Академия будущего</a>
                </div>
                <div class="footer__row">
                    Logo
                </div>
            </div>
            <div class="footer__data__item">
                <div class="footer__row">Дзержинск Грибоедова 48</div>
                <div class="footer__row">+7 (910) 799-15-24</div>
                <div class="footer__row">8-800-555-35-35</div>
            </div>
            <div class="footer__data__item">
                <div class="footer__row">
                    <a href="#" target="_blank" class="footer__link">Правила пользования Платформой</a>
                </div>
                <div class="footer__row">
                    <a href="#" target="_blank" class="footer__link">Политика конфиденциальности</a>
                </div>
            </div>
            <div class="footer__data__item">
                <div class="footer__row">
                    <a href="#" target="_blank" class="footer_social_link mb-2">
                        <img src="../assets/images/vk.png" style="width: 30px;">
                    </a>
                    <a href="#" target="_blank" class="footer_social_link mb-2">
                        <img src="../assets/images/instagram.png" style="width: 30px;">
                    </a>
                    <a href="#" target="_blank" class="footer_social_link mb-2">
                        <img src="../assets/images/youtoube.png" style="width: 30px;">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src='../assets/js/main_app.min.js'></script>
<script src="../assets/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>