<div class="row">
    <div class="col-md-12">
        <div class="form-group mt-12">
            <label>Наименование затраты</label>
            {{ form.name }}
        </div>
        <div class="form-group mt-4">
            <label>Категория затраты</label>
            {{ form.category }}
        </div>
        <div class="form-group mt-4">
            <label>Рекламная активность</label>
            {{ form.advertising_activity }}
        </div>
        <div class="form-group mt-4">
            <label>Период с</label>
            {{ form.date_to }}
        </div>
        <div class="form-group mt-4">
            <label>Период по</label>
            {{ form.date_from }}
        </div>
        <div class="form-group mt-4">
            <label>Сумма затрат</label>
            {{ form.amount }}
        </div>
        <div class="form-group mt-12">
            <label>Комментарий</label>
            {{ form.comment }}
        </div>
    </div>
</div>