<div class="row">
    <div class="col-md-6">
        <div class="form-group mt-4">
            <label>Категория</label>
            {{ form.category }}
        </div>
        <div class="form-group mt-4">
            <label>Название</label>
            {{ form.name }}
        </div>
        <div class="form-group mt-4">
            <label>Тип обучения</label>
            {{ form.education_type }}
        </div>
        <div class="form-group mt-4">
            <label>Сложность</label>
            {{ form.complexity }}
        </div>
        <div class="form-group mt-4">
            <label>Длительность обучения</label>
            {{ form.duration }}
        </div>
        <div class="form-group mt-4">
            <label>Начало обучения</label>
            {{ form.start_date }}
        </div>
        <div class="form-group mt-4">
            <label>Конец обучения</label>
            {{ form.end_date }}
        </div>
        <div class="form-group mt-4">
            <label>Количество уроков</label>
            {{ form.lesson_count }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group mt-4">
            <label>Преподаватели</label>
            {% for teacher in teachers %}
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="{{ teacher.id }}"
                           id="{{ teacher.id }}" name="teachers">
                    <label class="form-check-label" for="defaultCheck1">{{ teacher }}</label>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-md-12 mt-3">
        <h3>Описание</h3>
        <div class="form-group mt-4">
            {{ form.description }}
        </div>
    </div>
</div>