<div class="row">
    <div class="col-md-6">
        <div class="form-group mt-4">
            <label>Категория</label>
            {{ form.category }}
        </div>
        <div class="form-group mt-4">
            <label>Название</label>
            {{ form.name }}
        </div>
        <div class="form-group mt-4">
            <label>Цена</label>
            {{ form.price }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group mt-4">
            <label>Преподаватель</label>
            {{ form.teacher }}
        </div>
    </div>
    <div class="col-md-12 mt-3">
        <h3>Описание</h3>
        <div class="form-group mt-4">
            {{ form.description }}
        </div>
    </div>
</div>