<div class="switcher-wrapper">
    <div class="switcher-btn"><i class='bx bx-cog bx-spin'></i>
    </div>
    <div class="switcher-body">
        <h5 class="mb-0 text-uppercase">Настройки темы</h5>
        <hr/>
        <h6 class="mb-0">Стили темы</h6>
        <hr/>
        <div class="d-flex align-items-center justify-content-between">
            <div class="custom-control custom-radio">
                <input type="radio" id="darkmode" name="customRadio" class="custom-control-input">
                <label class="custom-control-label" for="darkmode">Темный</label>
            </div>
            <div class="custom-control custom-radio">
                <input type="radio" id="lightmode" name="customRadio" checked class="custom-control-input">
                <label class="custom-control-label" for="lightmode">Светлый</label>
            </div>
        </div>
        <hr/>
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="DarkSidebar">
            <label class="custom-control-label" for="DarkSidebar">Темный сайдбар</label>
        </div>
        <hr/>
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="ColorLessIcons">
            <label class="custom-control-label" for="ColorLessIcons">Цветные иконки</label>
        </div>
    </div>
</div>