<div class="row">
    <div class="col-md-12">
        <div class="form-group mt-12">
            <label>Дата и время занятия</label>
            {{ form.date }}
        </div>
        <div class="form-group mt-4">
            <label>Урок</label>
            {{ form.lesson }}
        </div>
        <div class="form-group mt-4">
            <label>Группа</label>
            {{ form.group }}
        </div>
        <label>Материал: </label>
        <input type="file" name="file" id="file">
    </div>
</div>