<div class="row">
    <div class="col-md-12">
        <div class="form-group mt-4">
            <label>Название должности:</label>
            {{ form.name }}
        </div>
        <div class="form-group mt-4">
            <label>Зарплата:</label>
            {{ form.salary }}
        </div>
        <div class="form-group mt-4">
            <label>Требования к кандидату:</label>
            {{ form.requirements }}
        </div>
        <div class="form-group mt-4">
            <label>Условия работы:</label>
            {{ form.conditions }}
        </div>
        <div class="form-group mt-4">
            <label>Комментарий:</label>
            {{ form.comment }}
        </div>
    </div>
</div>