{% extends 'crm/base.html' %}
{% block content %}
    <div class="card-title mb-4">
        <h4>Успеваемость</h4>
    </div>
    <div class="card radius-15">
        <div class="card-body">
            <div class="row mb-4">
                <div class="col-md-8">
                    <div class="flex-grow-1 search-bar">
                        <div class="input-group">
                            <div class="input-group-prepend search-arrow-back">
                                <button class="btn btn-search-back" type="button"><i class="bx bx-arrow-back"></i>
                                </button>
                            </div>
                            <input type="text" class="form-control" placeholder="search">
                            <div class="input-group-append">
                                <button class="btn btn-search" type="button"><i class="lni lni-search-alt"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <a type="button" href="{% url 'create_academic_performance' %}"
                       class="btn btn-outline-primary m-1 px-5" style="float: right;">Добавить оценку</a>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table mb-0">
                    <thead>
                    <tr>
                        <th scope="col">Студент</th>
                        <th scope="col">Урок</th>
                        <th scope="col">Тип оценки</th>
                        <th scope="col">Оценка</th>
                        <th scope="col">Дата</th>
                        <th scope="col">Преподаватель</th>
                        <th scope="col">Опоздание</th>
                        <th scope="col">Припуск</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for academic_performance in academic_performance_list %}
                        <tr>
                            <td>
                                <a href="/api/crm/students/{{ academic_performance.student.id }}">
                                    {{ academic_performance.student }}</a>
                            </td>
                            <td>
                                <a href="/api/crm/courses/lessons/{{ academic_performance.lesson.id }}">
                                    {{ academic_performance.lesson }}</a>
                            </td>
                            <td>{{ academic_performance.get_type_grade_display }}</td>
                            <td>
                                {% if academic_performance.grade %}
                                    {{ academic_performance.grade }}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                            <td>{{ academic_performance.date }}</td>
                            <td>
                                <a href="/api/crm/teachers/{{ academic_performance.teacher.id }}">
                                    {{ academic_performance.teacher }}</a>
                            </td>
                            <td>
                                {% if academic_performance.late %} + {% else %} - {% endif %}
                            </td>
                            <td>
                                {% if academic_performance.absent %} + {% else %} - {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% if is_paginated %}
                <div class="mt-4">
                    {% include 'crm/inc/paginations.html' %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}