{% extends 'crm/base.html' %}
{% block content %}
    <div class="card radius-15">
        <div class="card-body">
            <div class="row mb-4">
                <div class="col-md-8">
                    <div class="card-title">
                        <h4>Список клиентов</h4>
                    </div>
                </div>
                <div class="col-md-4">
                    <button type="button" class="btn btn-outline-primary m-1 px-5" style="float: right;">
                        <i class="bx bx-user mr-1"></i>Добавить клиента
                    </button>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table mb-0">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">ФИО</th>
                        <th scope="col">Телефон</th>
                        <th scope="col">Email</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for client in client_list %}
                        <tr>
                            <th scope="row"><a href="/api/crm/clients/{{ client.pk }}">{{ client.id }}</a></th>
                            <td><a href="/api/crm/clients/{{ client.pk }}">{{ client }}</a></td>
                            <td>{{ client.phone }}</td>
                            <td>{{ client.email }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}