{% extends 'crm/base.html' %}
{% block content %}
    <div class="user-profile-page">
        <div class="card radius-15">
            <div class="card-body">
                <div class="row mb-4">
                    <div class="col-md-6">
                        <div class="d-flex align-items-center mb-3">
                            <h4 class="mb-0">{{ course }}</h4>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <a type="button" href="{% url 'update_course' pk=course.pk %}"
                           class="btn btn-outline-primary px-5" style="float: right;">Редактировать</a>
                    </div>
                    <div class="col-md-3">
                        <a type="button" href="{% url 'create_lesson' %}" class="btn btn-outline-primary px-5"
                           style="float: right;">Добавить урок</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-7 border-right">
                        <div class="d-md-flex align-items-center">
                            <div class="ml-md-12 flex-grow-1">
                                <table class="table table-sm table-borderless mt-md-0 mt-3">
                                    <tbody>
                                    <tr>
                                        <th>Категория:</th>
                                        <td><a href="#">{{ course.category }}</a></td>
                                    </tr>
                                    <tr>
                                        <th>Дата начала занятий:</th>
                                        <td>{{ course.start_date }}</td>
                                    </tr>
                                    <tr>
                                        <th>Дата окончания занятий:</th>
                                        <td>{{ course.end_date }}</td>
                                    </tr>
                                    <tr>
                                        <th>Количество уроков:</th>
                                        <td>{{ course.lesson_count }}</td>
                                    </tr>
                                    <tr>
                                        <th>Доступный:</th>
                                        <td>{{ course.is_active }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-5">
                        {% if course.poster %}
                            <img src="{{ course.poster.url }}" style="width: 250px; padding: 20px">
                        {% endif %}
                    </div>
                </div>
                <ul class="nav nav-pills">
                    <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#Description"><span
                            class="p-tab-name">Описание</span><i class="bx bx-donate-blood font-24 d-sm-none"></i></a>
                    </li>
                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#Lessons"><span
                            class="p-tab-name">Уроки</span><i class="bx bx-donate-blood font-24 d-sm-none"></i></a>
                    </li>
                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#Teachers"><span
                            class="p-tab-name">Преподаватели</span><i class="bx bx-donate-blood font-24 d-sm-none"></i></a>
                    </li>
                </ul>
                <div class="tab-content mt-3">
                    <div class="tab-pane fade show active" id="Description">
                        <div class="card shadow-none border mb-0 radius-15">
                            <div class="card-body">
                                <div class="d-sm-flex align-items-center mb-3">
                                    <h4 class="mb-0">Описание курса</h4>
                                </div>
                                <div class="row">
                                    <p class="mx-4 my-2">{{ course.description }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade show" id="Lessons">
                        <div class="card shadow-none border mb-0 radius-15">
                            <div class="card-body">
                                <div class="d-sm-flex align-items-center mb-3">
                                    <h4 class="mb-0">Уроки курса</h4>
                                </div>
                                <table class="table mb-0">
                                    <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Курс</th>
                                        <th scope="col">Номер урока</th>
                                        <th scope="col">Тема</th>
                                        <th scope="col">Доступный</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for lesson in lesson_list %}
                                        <tr>
                                            <th scope="row">{{ lesson.id }}</th>
                                            <td>{{ lesson.course }}</td>
                                            <td>{{ lesson.lesson_number }}</td>
                                            <td>
                                                <a href="/api/crm/courses/lessons/{{ lesson.pk }}">{{ lesson.theme }}</a>
                                            </td>
                                            <td>{{ lesson.is_active }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade show" id="Teachers">
                        <div class="card shadow-none border mb-0 radius-15">
                            <div class="card-body">
                                <div class="d-sm-flex align-items-center mb-3">
                                    <h4 class="mb-0">Уроки курса</h4>
                                </div>
                                <table class="table mb-0">
                                    <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">ФИО</th>
                                        <th scope="col">Телефон</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Профессиональная деятельность</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for teacher in course.teachers.all %}
                                        <tr>
                                            <th scope="row"><a
                                                    href="/api/crm/teachers/{{ teacher.pk }}">{{ teacher.id }}</a></th>
                                            <td><a href="/api/crm/teachers/{{ teacher.pk }}">{{ teacher }}</a></td>
                                            <td>{{ teacher.phone }}</td>
                                            <td>{{ teacher.user.email }}</td>
                                            <td>{{ teacher.professional_activity }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}