{% extends 'crm/base.html' %}
{% block content %}
    <div class="card radius-15">
        <div class="card-body">
            <div class="card-title">
                <h4 class="mb-4">Регистрация нового клиента</h4>
                <hr/>
            </div>
            <form method="POST" action="">
                <div class="row">
                    <div class="col-md-6">
                        <h3>ФИО</h3>
                        <div class="form-group mt-4">
                            <label>Фамилия</label>
                            {{ form.last_name }}
                        </div>
                        <div class="form-group mt-4">
                            <label>Имя</label>
                            {{ form.first_name }}
                        </div>
                        <div class="form-group mt-4">
                            <label>Отчество</label>
                            {{ form.middle_name }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h3>Контактные данные</h3>
                        <div class="form-group mt-4">
                            <label>Номер телефона</label>
                            {{ form.phone }}
                        </div>
                        <div class="form-group mt-4">
                            <label>Электронная почта *</label>
                            {{ form.email }}
                        </div>
                        <div class="form-group mt-4">
                            <label>Город *</label>
                            {{ form.city }}
                        </div>
                    </div>
                    <div class="col-md-12 mt-3">
                        <h3>Паспортные данные *</h3>
                        <div class="form-group mt-4">
                            <label>Серия и номер паспорта</label>
                            {{ form.passport }}
                        </div>
                        <div class="form-group mt-4">
                            <label>Кем выдан</label>
                            {{ form.passport_issued_by }}
                        </div>
                        <div class="form-group mt-4">
                            <label>Адрес прописки</label>
                            {{ form.address }}
                        </div>
                    </div>
                </div>
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-primary m-1 w-100 mt-4">Зарегистрировать</button>
            </form>
        </div>
    </div>
{% endblock %}