{% extends 'crm/base.html' %}
{% block content %}
    <div class="user-profile-page">
        <div class="card radius-15">
            <div class="card-body">
                <div class="row mb-4">
                    <div class="col-md-8">
                        <div class="d-flex align-items-center mb-3">
                            <h5 class="mb-0">{{ group }}</h5>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <a type="button" href="{% url 'update_group' pk=group.pk %}"
                           class="btn btn-outline-primary m-1 px-5" style="float: right;">Редактировать</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-7 border-right">
                        <div class="d-md-flex align-items-center">
                            <div class="ml-md-12 flex-grow-1">
                                <table class="table table-sm table-borderless mt-md-0 mt-3">
                                    <tbody>
                                    <tr>
                                        <th>Менеджер:</th>
                                        <td>{{ group.manager }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h4>Список студентов</h4>
        <div class="card radius-15">
            <div class="card-body">
                <div class="row">
                    <div class="table-responsive">
                        {% include 'crm/inc/student_table.html' %}
                    </div>
                </div>
            </div>
        </div>
        <h4>Список курсов</h4>
        <div class="card radius-15">
            <div class="card-body">
                <div class="row">
                    <div class="table-responsive">
                        <table class="table mb-0">
                            <thead>
                            <tr>
                                <th scope="col">id</th>
                                <th scope="col">Название</th>
                                <th scope="col">Категория</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for course in group.courses.all %}
                                <tr>
                                    <th scope="row">{{ course.id }}</th>
                                    <td><a href="/api/crm/courses/{{ course.id }}">{{ course.name }}</a></td>
                                    <td>{{ course.category }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}