{% extends 'crm/base.html' %}
{% block content %}
    <div class="user-profile-page">
        <div class="card radius-15">
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-lg-7 border-right">
                        <div class="d-md-flex align-items-center">
                            <div class="ml-md-12 flex-grow-1">
                                <div class="d-flex align-items-center mb-3">
                                    <h4 class="mb-0">{{ group }}</h4>
                                </div>
                                <table class="table table-sm table-borderless mt-md-0 mt-3">
                                    <tbody>
                                    <tr>
                                        <th>Преподаватель:</th>
                                        <td><a href="#">{{ group.teacher }}</a></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h4>Список студентов</h4>
        <div class="card radius-15">
            <div class="card-body">
                <div class="row">
                    <div class="table-responsive">
                        {% include 'crm/inc/student_table.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}