{% extends 'crm/base.html' %}
{% block content %}
    <div class="card-title mb-4">
        <h4 style="display: inline;">Список заявок</h4>
        <a type="button" href="{% url 'create_request' %}" class="btn btn-outline-primary m-1 px-5"
           style="float: right">Добавить заявку</a>
    </div>
    <div class="card radius-15">
        <div class="card-body">
            <div class="row mb-4">
                <div class="col-md-12">
                    <form action="" method="get">
                        <div class="row ml-2">
                            <input type="date" class="form-control" name="date_from" style="width: 20%; margin: 8px;">
                            <input type="date" class="form-control" name="date_to" style="width: 20%; margin: 8px;">
                            {% for request in view.get_status %}
                                <div class="form-check form-check-inline">
                                    <input type="checkbox" class="form-check-input" name="status"
                                           value="{{ request.status }}">
                                    <label class="form-check-label">{{ request.status }}</label>
                                </div>
                            {% endfor %}
                            <button class="btn btn-light m-1 px-5" type="submit" style="display: inline;">
                                Применить фильтры
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table mb-0">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Клиент</th>
                        <th scope="col">Телефон</th>
                        <th scope="col">Email</th>
                        <th scope="col">Тип заявки</th>
                        <th scope="col">Статус</th>
                        <th scope="col">Курс</th>
                        <th scope="col">Результат</th>
                        <th scope="col">Дата заявки</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for request in request_list %}
                        <tr>
                            <th scope="row"><a href="/api/crm/requests/{{ request.pk }}">{{ request.id }}</a></th>
                            {% if request.client %}
                                <td><a href="/api/crm/requests/{{ request.pk }}">{{ request.client }}</a></td>
                            {% elif request.request_fio %}
                                <td><a href="/api/crm/requests/{{ request.pk }}">{{ request.request_fio }}</a></td>
                            {% else%}
                                <td><a href="/api/crm/requests/{{ request.pk }}">Не указан</a></td>
                            {% endif %}
                            <td>{{ request.client.phone }}</td>
                            <td>{{ request.client.email }}</td>
                            <td>{{ request.type_request }}</td>
                            <td>{{ request.status }}</td>
                            <td>{{ request.course }}</td>
                            <td>{{ request.result }}</td>
                            <td>{{ request.date }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% if is_paginated %}
                <div class="mt-4">
                    {% include 'crm/inc/paginations.html' %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}