{% extends 'crm/base.html' %}
{% block content %}
    <div class="card radius-15">
        <div class="card-body">
            <div class="row mb-4">
                <div class="col-md-8">
                    <div class="card-title">
                        <h4>Список заявок</h4>
                    </div>
                </div>
                <div class="col-md-4">
                    <button type="button" class="btn btn-outline-primary m-1 px-5" style="float: right;">
                        Добавить заявку
                    </button>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table mb-0">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Клиент</th>
                        <th scope="col">Тип заявки</th>
                        <th scope="col">Статус</th>
                        <th scope="col">Курс</th>
                        <th scope="col">Результат</th>
                        <th scope="col">Дата заявки</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for request in request_list %}
                        <tr>
                            <th scope="row">{{ request.id }}</th>
                            <td>{{ request.client }}</td>
                            <td>{{ request.type_request }}</td>
                            <td>{{ request.status }}</td>
                            <td>{{ request.course }}</td>
                            <td>{{ request.result }}</td>
                            <td>{{ request.date }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}