{% extends 'crm/base.html' %}
{% block content %}
    <div class="user-profile-page">
        <div class="card radius-15">
            <div class="card-body">
                <div class="row mb-4">
                    <div class="col-md-6">
                        <div class="d-flex align-items-center mb-3">
                            <h4 class="mb-0">Заявка {{ request.id }}</h4>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <a type="button" href="{% url 'update_request' pk=request.pk %}"
                           class="btn btn-outline-primary m-1 px-5" style="float: right;">Редактировать</a>
                    </div>
                    <div class="col-md-3">
                        <form method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-outline-primary m-1 px-5" style="float: right;">
                                {% if request.is_deleted %}
                                    Восстановить
                                {% else %}
                                    В корзину
                                {% endif %}
                            </button>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-7 border-right">
                        <div class="d-md-flex align-items-center">
                            <div class="ml-md-12 flex-grow-1">
                                <table class="table table-sm table-borderless mt-md-0 mt-3">
                                    <tbody>
                                    <tr>
                                        <th>Дата:</th>
                                        <td>{{ request.date }}</td>
                                    </tr>
                                    {% if request.course %}
                                        <tr>
                                            <th>Курс:</th>
                                            <td>
                                                <a href="/api/crm/courses/{{ request.course.id }}">
                                                    {{ request.course }}
                                                </a>
                                            </td>
                                        </tr>
                                    {% elif request.event %}
                                        <tr>
                                            <th>Мероприятие:</th>
                                            <td><a href="#">{{ request.event }}</a></td>
                                        </tr>
                                    {% endif %}
                                    <tr>
                                        <th>Тип заявки</th>
                                        <td>{{ request.get_type_request_display }}</td>
                                    </tr>
                                    <tr>
                                        <th>Статус заявки</th>
                                        <td>{{ request.get_status_display }}</td>
                                    </tr>
                                    <tr>
                                        <th>Цель заявки</th>
                                        <td>{{ request.get_purpose_display }}</td>
                                    </tr>
                                    <tr>
                                        <th>Результат заявки</th>
                                        <td>
                                            {% if request.result %}
                                                {{ request.get_result_display }}
                                            {% else %}
                                                Отсутствует
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Перезвонить / напомнить</th>
                                        <td>
                                            {% if request.remind %}
                                                {{ request.remind }}
                                            {% else %}
                                                Не указано
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% if request.request_fio %}
                                        <tr>
                                            <th>ФИО из заявки</th>
                                            <td>{{ request.request_fio }}</td>
                                        </tr>
                                    {% endif %}
                                    {% if request.request_phone %}
                                        <tr>
                                            <th>Номер телефона из заявки</th>
                                            <td>
                                                <a href="tel: {{ request.request_phone }}">
                                                    {{ request.request_phone }}
                                                </a>
                                            </td>
                                        </tr>
                                    {% endif %}
                                    {% if request.request_email %}
                                        <tr>
                                            <th>Email из заявки</th>
                                            <td>
                                                <a href="mailto: {{ request.request_email }}">
                                                    {{ request.request_email }}
                                                </a>
                                            </td>
                                        </tr>
                                    {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-5">
                        <h3>Клиент</h3>
                        <table class="table table-sm table-borderless mt-md-0 mt-3">
                            <tbody>
                            <tr>
                                <th>ФИО:</th>
                                <td>
                                    {% if request.client %}
                                        <a href="/api/crm/clients/{{ request.client.id }}">{{ request.client }}</a>
                                    {% else %}
                                        Не указано
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>Номер телефона:</th>
                                <td>
                                    {% if request.client %}
                                        <a href="tel: {{ request.client.phone }}">{{ request.client.phone }}</a>
                                    {% else %}
                                        Не указано
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>email:</th>
                                <td>
                                    {% if request.client %}
                                        <a href="mailto: {{ client.email }}">{{ request.client.email }}</a>
                                    {% else %}
                                        Не указано
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>Лояльность клиента:</th>
                                <td>{{ request.loyalty }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <h4>Комментарий</h4>
        <div class="card radius-15">
            <div class="card-body">
                <div class="row">
                    <p class="mx-4 my-2">{{ request.comment }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}