{% extends 'crm/base.html' %}
{% block content %}
    <div class="card-title mb-4">
        <h4>Список сотрудников</h4>
    </div>
    <div class="card radius-15">
        <div class="card-body">
            <div class="row mb-4">
                <div class="col-md-8">
                    <div class="flex-grow-1 search-bar">
                        <div class="input-group">
                            <div class="input-group-prepend search-arrow-back">
                                <button class="btn btn-search-back" type="button"><i class="bx bx-arrow-back"></i>
                                </button>
                            </div>
                            <input type="text" class="form-control" placeholder="search">
                            <div class="input-group-append">
                                <button class="btn btn-search" type="button"><i class="lni lni-search-alt"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <a type="button" href="{% url 'create_staff' %}" class="btn btn-outline-primary m-1 px-5"
                       style="float: right;"><i class="bx bx-user mr-1"></i>Добавить сотрудника</a>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table mb-0">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">ФИО</th>
                        <th scope="col">Телефон</th>
                        <th scope="col">Email</th>
                        <th scope="col">Группа</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for staff in staff_list %}
                        <tr>
                            <th scope="row"><a href="/api/crm/staffs/{{ staff.pk }}">{{ staff.id }}</a></th>
                            <td><a href="/api/crm/staffs/{{ staff.pk }}">{{ staff }}</a></td>
                            <td>{{ staff.phone }}</td>
                            <td>{{ staff.user.email }}</td>
                            <td>{{ staff.get_user_group_display }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% if is_paginated %}
                <div class="mt-4">
                    {% include 'crm/inc/paginations.html' %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}