{% extends 'crm/base.html' %}
{% block content %}
    <div class="user-profile-page">
        <h5 class="mb-4">Студент</h5>
        <div class="card radius-15">
            <div class="card-body">
                <div class="row mb-4">
                    <div class="col-md-8">
                        <div class="d-flex align-items-center mb-3">
                            <h4 class="mb-0">{{ student }}</h4>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <a type="button" href="{% url 'update_student' pk=student.pk %}"
                           class="btn btn-outline-primary m-1 px-5" style="float: right;">Редактировать</a>
                    </div>
                </div>
                {% if messages %}
                    <div {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %} class="alert alert-danger"
                            {% else %} class="alert alert-success"
                            {% endif %} role="alert">
                        <ul class="messages">
                            {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                                    {{ message }}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                <hr/>
                <div class="row">
                    <div class="col-12 col-lg-7 border-right">
                        <div class="d-md-flex align-items-center">
                            <div class="ml-md-4 flex-grow-1">
                                <h3>Информация</h3>
                                <table class="table table-sm table-borderless mt-md-0 mt-3">
                                    <tbody>
                                    <tr>
                                        <th>Дата рождения:</th>
                                        <td>
                                            {% if student.date_of_birthday %}
                                                {{ student.date_of_birthday }}
                                            {% else %}
                                                Не указано
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Хобби:</th>
                                        <td>
                                            {% if student.hobbies %}
                                                {{ student.hobbies }}
                                            {% else %}
                                                Не указано
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Мечта:</th>
                                        <td>
                                            {% if student.dream %}
                                                {{ student.dream }}
                                            {% else %}
                                                Не указано
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Верификация пройдена:</th>
                                        <td>{{ student.verification }}</td>
                                    </tr>
                                    <tr>
                                        <th>Активный пользователь:</th>
                                        <td>{{ student.is_active }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-5 mt-4">
                        <h3>Контакты</h3>
                        <table class="table table-sm table-borderless mt-md-0 mt-3">
                            <tbody>
                            <tr>
                                <th>Номер телефона:</th>
                                <td><a href="tel: {{ student.phone }}">{{ student.phone }}</a></td>
                            </tr>
                            <tr>
                                <th>Email:</th>
                                <td>
                                    {% if student.email %}
                                        <a href="mailto: {{ student.email }}">{{ student.email }}</a>
                                    {% else %}
                                        Не указано
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>Город:</th>
                                <td>
                                    {% if student.city %}
                                        {{ student.city }}
                                    {% else %}
                                        Не указано
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>Профиль vk:</th>
                                <td>
                                    {% if student.vk_slug %}
                                        <a href="{{ student.vk_slug }}">{{ student.vk_slug }}</a>
                                    {% else %}
                                        Не указано
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>Профиль instagram:</th>
                                <td>
                                    {% if student.instagram_slug %}
                                        <a href="{{ student.instagram_slug }}">{{ student.instagram_slug }}</a>
                                    {% else %}
                                        Не указано
                                    {% endif %}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <ul class="nav nav-pills">
                    <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#About"><span
                            class="p-tab-name">О себе</span><i class="bx bx-donate-blood font-24 d-sm-none"></i></a>
                    </li>
                    <li class="nav-item"><a class="nav-link" id="profile-tab" data-toggle="tab" href="#Courses"><span
                            class="p-tab-name">Курсы</span><i
                            class="bx bxs-user-rectangle font-24 d-sm-none"></i></a>
                    </li>
                    <li class="nav-item"><a class="nav-link" id="profile-tab" data-toggle="tab" href="#Groups"><span
                            class="p-tab-name">Группы</span><i
                            class="bx bxs-user-rectangle font-24 d-sm-none"></i></a>
                    </li>
                    <li class="nav-item"><a class="nav-link" id="profile-tab" data-toggle="tab" href="#AcademicPerformance"><span
                            class="p-tab-name">Успеваемость</span><i
                            class="bx bxs-user-rectangle font-24 d-sm-none"></i></a>
                    </li>
                </ul>
                <div class="tab-content mt-3">
                    <div class="tab-pane fade show active" id="About">
                        <div class="card shadow-none border mb-0 radius-15">
                            <div class="card-body">
                                <div class="d-sm-flex align-items-center mb-3">
                                    <h4 class="mb-0">О себе:</h4>
                                </div>
                                <p>
                                    {% if student.about %}
                                        {{ student.about }}
                                    {% else %}
                                        Не указано
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="Courses">
                        <div class="card shadow-none border mb-0 radius-15">
                            <div class="card-body">
                                <div class="d-sm-flex align-items-center mb-3">
                                    <h4 class="mb-0">Курсы:</h4>
                                </div>
                                <table class="table mb-0">
                                    <thead>
                                    <tr>
                                        <th scope="col">id</th>
                                        <th scope="col">Название</th>
                                        <th scope="col">Категория</th>
                                        <th scope="col"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for course in student.courses.all %}
                                        <tr>
                                            <th scope="row">{{ course.id }}</th>
                                            <td><a href="/api/crm/courses/{{ course.id }}">{{ course }}</a></td>
                                            <td>{{ course.category }}</td>
                                            <td>
                                                <form method="post">
                                                    {% csrf_token %}
                                                    <button class="btn btn-danger" type="submit" name="delete-course" value="{{ course.id }}">
                                                        Удалить
                                                    </button>
                                                </form>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="Groups">
                        <div class="card shadow-none border mb-0 radius-15">
                            <div class="card-body">
                                <div class="d-sm-flex align-items-center mb-3">
                                    <h4 class="mb-0">Группы:</h4>
                                </div>
                                <table class="table mb-0">
                                    <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Название</th>
                                        <th scope="col">Менедженр</th>
                                        <th scope="col"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for group in student.group_list.all %}
                                        <tr>
                                            <th scope="row">{{ group.id }}</th>
                                            <td><a href="/api/crm/groups/{{ group.id }}"> {{ group.name }}</a></td>
                                            <td>{{ group.manager }}</td>
                                            <td>
                                                <form method="post">
                                                    {% csrf_token %}
                                                    <button class="btn btn-danger" type="submit" name="delete-group" value="{{ group.id }}">
                                                        Удалить
                                                    </button>
                                                </form>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="AcademicPerformance">
                        <div class="card shadow-none border mb-0 radius-15">
                            <div class="card-body">
                                <div class="d-sm-flex align-items-center mb-3">
                                    <h4 class="mb-0">Успеваемость:</h4>
                                </div>
                                <table class="table mb-0">
                                    <thead>
                                    <tr>
                                        <th scope="col">Урок</th>
                                        <th scope="col">Тип оценки</th>
                                        <th scope="col">Оценка</th>
                                        <th scope="col">Дата</th>
                                        <th scope="col">Преподаватель</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for academic_performance in academic_performance_list %}
                                        <tr>
                                            <td>{{ academic_performance.lesson }}</td>
                                            <td>{{ academic_performance.type_grade }}</td>
                                            <td>{{ academic_performance.grade }}</td>
                                            <td>{{ academic_performance.date }}</td>
                                            <td>{{ academic_performance.teacher }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}