{% extends 'crm/base.html' %}
{% block content %}
    <div class="card-title mb-4">
        <h4>Рассписание занятий</h4>
    </div>
    <div class="card radius-15">
        <div class="card-body">
            <div class="row mb-4">
                <div class="col-md-8">
                    <div class="flex-grow-1 search-bar">
                        <div class="input-group">
                            <div class="input-group-prepend search-arrow-back">
                                <button class="btn btn-search-back" type="button"><i class="bx bx-arrow-back"></i>
                                </button>
                            </div>
                            <input type="text" class="form-control" placeholder="search">
                            <div class="input-group-append">
                                <button class="btn btn-search" type="button"><i class="lni lni-search-alt"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <a type="button" href="{% url 'create_timetable' %}" class="btn btn-outline-primary m-1 px-5"
                       style="float: right;">Добавить запись</a>
                </div>
            </div>
            <ul class="nav nav-pills">
                <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#Calendar"><span
                        class="p-tab-name">Календарь</span><i class="bx bx-donate-blood font-24 d-sm-none"></i></a>
                </li>
                <li class="nav-item"><a class="nav-link" id="profile-tab" data-toggle="tab" href="#List"><span
                        class="p-tab-name">Список</span><i
                        class="bx bxs-user-rectangle font-24 d-sm-none"></i></a>
                </li>
            </ul>

            <script>
                {% if time_table_list %}
                    document.addEventListener('DOMContentLoaded', function () {
                        let calendarEl = document.getElementById('calendar');

                        let calendar = new FullCalendar.Calendar(calendarEl, {
                            headerToolbar: {
                                left: 'prev,next today',
                                center: 'title',
                                right: 'dayGridMonth,timeGridWeek,timeGridDay'
                            },
                            locale: 'ru',
                            initialDate: Date.now(),
                            navLinks: true,
                            businessHours: true,
                            editable: true,
                            selectable: true,
                            events: [
                                {% for time_table in time_table_list %}
                                    {
                                        title: '{{ time_table.group }} \n {{ time_table.lesson }}',
                                        start: '{{ time_table.date|date:"Y-m-d H:i" }}',
                                        end: false,
                                        color: '#ff9f89',
                                        overlap: false,
                                        url: '/api/crm/timetable/{{ time_table.id }}'
                                    },
                                {% endfor %}
                            ]
                        });
                        calendar.render();
                    });
                {% endif %}
            </script>

            <div class="tab-content mt-3">
                <div class="tab-pane fade show active" id="Calendar">
                    <div class="card shadow-none border mb-0 radius-15">
                        <div class="card-body">
                            <div class="row section-top-border">
                                <div class="col-md-12">
                                    <div id='calendar'></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="List">
                    <div class="card shadow-none border mb-0 radius-15">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table mb-0">
                                    <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Урок</th>
                                        <th scope="col">Группа</th>
                                        <th scope="col">Дата</th>
                                        <th scope="col">Завершен</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for time_table in time_table_list %}
                                        <tr>
                                            <th scope="row">
                                                <a href="/api/crm/timetable/{{ time_table.id }}">{{ time_table.id }}</a>
                                            </th>
                                            <td><a href="/api/crm/timetable/{{ time_table.id }}">{{ time_table.lesson }}</a></td>
                                            <td>{{ time_table.group }}</td>
                                            <td>{{ time_table.date }}</td>
                                            <td>{{ time_table.is_finished }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}