{% extends 'crm/base.html' %}
{% block content %}
    <div class="user-profile-page">
        <div class="card radius-15">
            <div class="card-body">
                <div class="row mb-4">
                    <div class="col-md-8">
                        <div class="d-flex align-items-center mb-3">
                            <h4 class="mb-0">Запись {{ timetable.id }}</h4>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <a type="button" href="{% url 'update_timetable' pk=timetable.pk %}"
                           class="btn btn-outline-primary m-1 px-5" style="float: right;">Редактировать</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-7 border-right">
                        <div class="d-md-flex align-items-center">
                            <div class="ml-md-12 flex-grow-1">
                                <table class="table table-sm table-borderless mt-md-0 mt-3">
                                    <tbody>
                                    <tr>
                                        <th>Дата:</th>
                                        <td>{{ timetable.date }}</td>
                                    </tr>
                                    <tr>
                                        <th>Курс:</th>
                                        <td>
                                            <a href="/api/crm/courses/{{ timetable.lesson.course.pk }}">
                                                {{ timetable.lesson.course }}
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Урок:</th>
                                        <td>
                                            {% if timetable.lesson %}
                                                <a href="/api/crm/courses/{{ timetable.lesson.course.pk }}/{{ timetable.lesson.pk }}">
                                                    {{ timetable.lesson }}
                                                </a>
                                            {% else %}
                                                Не указан
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Предмет:</th>
                                        <td>{{ timetable.subject }}</td>
                                    </tr>
                                    <tr>
                                        <th>Группа</th>
                                        <td>
                                            <a href="/api/crm/groups/{{ timetable.group.pk }}">
                                                {{ timetable.group }}
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-5">
                        <h3>Материал</h3>
                        <table class="table table-sm table-borderless mt-md-0 mt-3">
                            <tbody>
                            <tr>
                                <th>Файл:</th>
                                <td>
                                    {% if timetable.material %}
                                        <a href="{{ timetable.material.url }}" download="">
                                            Загрузить
                                        </a>
                                    {% else %}
                                        Отсутствует
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>Ссылка на материалы</th>
                                <td>
                                    <a href="{{ timetable.material_link }}">
                                        {{ timetable.material_link }}
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}