{% extends 'crm/base.html' %}
{% block content %}
    <div class="card radius-15">
        <div class="card-body">
            <div class="card-title">
                <h4 class="mb-4">Редактирование категории затрат</h4>
                <hr/>
            </div>
            <form method="POST" action="">
                {% include 'crm/inc/cost_category_form.html' %}
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-primary m-1 w-100 mt-4">Изменить</button>
            </form>
        </div>
    </div>
{% endblock %}