<!DOCTYPE html>
<html lang='ru'>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Академия будущего</title>
    <link rel="stylesheet" href="../../assets/bootstrap/css/bootstrap.css">
    <link rel='stylesheet' href='../../assets/css/style.css'/>
    <style>
        #messenger {
            text-align: left;
            height: 70vh;
            overflow: scroll;
            padding-bottom: 30px;
            margin: 0;
        }
        .out_message {
            width: 100%;
            display: block;
            float: right;
        }
        .in_message {
            width: 100%;
            display: block;
            float: left;
        }
        .out_message_date {
            width: 100%;
            font-size: 12px;
            margin: 0;
            color: gray;
            text-align: right;
            padding-right: 10px;
        }
        .in_message_date {
            float: left;
            width: 100%;
            font-size: 12px;
            margin: 0;
            color: gray;
            padding-left: 5px;
        }
        .out_message_didnt_read {
            min-height: 50px;
            width: 100%;
            display: block;
            float: right;
            background-color: #e5ebf1;
        }
        .in_message_didnt_read {
            min-height: 50px;
            width: 100%;
            display: block;
            float: left;
            background-color: #e5ebf1;
        }
        .out_message_text {
            background-color: #bfe2e9;
            padding: 10px;
            border-radius: 10px;
            width: auto;
            float: right;
            margin: 0 10px 8px 50px;
        }
        .in_message_text {
            background-color: #fccdac;
            padding: 10px;
            border-radius: 10px;
            width: auto;
            float: left;
            margin: 0 60px 8px 5px;
        }
        .chat_header {
            width: 100%;
            text-align: left;
            font-size: 18px;
        }
        .chat-avatar {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            float: right;
        }
        .message_avatar {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            float: left;
            margin-top: 5px;
        }
    </style>
</head>
<body>
<div class="nav_bar">
    <nav class="nav__mobile"></nav>
    <div class="container">
        <div class="navbar__inner">
            <a href="../index.html" class="navbar__logo">Logo</a>
            <nav class="navbar__menu">
                <ul class="main-nav">
                    <li><a href="../index.html">Главная</a></li>
                    <li><a href="../education.html">Обучение</a></li>
                    <li><a href="../construction-page.html">Новости</a></li>
                    <li><a href="../construction-page.html">Об академии</a></li>
                    <li><a href="../construction-page.html">Контакты</a></li>
                </ul>
                <ul>
                    <li><a href="../profile.html">Иван Гришин</a></li>
                    <li>
                        <img class="center" src="../../assets/images/avatars/mike.jpeg"
                             style="display: inline-block; width: 30px; height: 30px; border: 0; border-radius: 50%; margin: auto; text-align: right">
                    </li>
                </ul>
            </nav>
            <div class="navbar__menu-mob"><a href="" id='toggle'>
                <svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                    <path fill="currentColor"
                          d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"
                          class=""></path>
                </svg>
            </a></div>
        </div>
    </div>
</div>
<div class="step landing__section" style="background-color: #f7f7f7">
    <div class="page">
        <div class="container mt-5">
            <div class="page__inner">
                <div class="page__menu">
                    <h3>Сообщения</h3>
                    <hr>
                    <ul class="vMenu">
                        <li class="left-align px-2">
                            <img src="../../assets/images/icons/profile.svg" style="width: 16px; margin-right: 5px;">
                            <a href="../profile.html"> Личный кабинет </a>
                        </li>
                        <li class="left-align px-2">
                            <img src="../../assets/images/icons/courses.svg" style="width: 16px; margin-right: 5px;">
                            <a href="../profile/my-courses.html"> Доступные курсы </a>
                        </li>
                        <li class="left-align px-2">
                            <img src="../../assets/images/icons/calendar.svg" style="width: 16px; margin-right: 5px;">
                            <a href="../profile/timetable.html"> Расписание </a>
                        </li>
                        <li class="left-align px-2">
                            <img src="../../assets/images/icons/positive_dynamics.svg" style="width: 16px; margin-right: 5px;">
                            <a href="../profile/academic-performance.html"> Успеваемость </a>
                        </li>
                        <li class="left-align px-2">
                            <img src="../../assets/images/icons/group.svg" style="width: 16px; margin-right: 5px;">
                            <a href="../profile/my-groups.html"> Мои группы </a>
                        </li>
                        <li class="left-align px-2">
                            <img src="../../assets/images/icons/users_people.svg" style="width: 16px; margin-right: 5px;">
                            <a href="../profile/friends.html"> Мои друзья </a>
                            <div class="notification_numbers">1</div>
                        </li>
                        <li class="left-align px-2">
                            <img src="../../assets/images/icons/followers.svg" style="width: 16px; margin-right: 5px;">
                            <a href="../profile/null.html"> Мои подписчики </a>
                        </li>
                        <li class="left-align px-2">
                            <img src="../../assets/images/icons/message.svg" style="width: 16px; margin-right: 5px;">
                            <a href="chats.html"> Мои сообщения </a>
                            <div class="notification_numbers">2</div>
                        </li>
                        <li class="left-align px-2">
                            <img src="../../assets/images/icons/photos.svg" style="width: 16px; margin-right: 5px;">
                            <a href="../profile/photo.html"> Мои фотографии </a>
                        </li>
                        <li class="left-align px-2">
                            <img src="../../assets/images/icons/search.svg" style="width: 16px; margin-right: 5px;">
                            <a href="../profile/search.html"> Поиск </a>
                        </li>
                        <li class="left-align px-2">
                            <img src="../../assets/images/icons/settings.svg" style="width: 16px; margin-right: 5px;">
                            <a href="../construction-page.html"> Настройки </a>
                        </li>
                        <li class="left-align px-2">
                            <img src="../../assets/images/icons/games.svg" style="width: 16px; margin-right: 5px;">
                            <a href="../construction-page.html"> Игры </a>
                        </li>
                    </ul>
                </div>
                <div class="page__main">
                    <div class="row">

                        <div class="chat_header px-4">
                            <a href="mike.html" class="pt-3">Майк Иванов</a>
                            <img src="../../assets/images/avatars/mike2.jpeg" class="chat-avatar">
                        </div>
                    </div>
                    <hr/>
                    <div id="messenger">
                        <div class="in_message" id="message1">
                            <p class="in_message_date" id="date_message1">Майк Иванов 01.09.2021 20:57</p>
                            <a href="mike.html">
                                <img src="../../assets/images/avatars/mike2.jpeg" class="message_avatar">
                            </a>
                            <p class="in_message_text">
                                Привет</p>
                        </div>
                        <div class="out_message">
                            <p class="out_message_date">01.09.2021 20:57</p>
                            <p class="out_message_text">
                                Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum
                                является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий
                                безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem
                                Ipsum
                                для распечатки образцов.</p>
                        </div>
                        <div class="in_message">
                            <p class="in_message_date">Майк Иванов 01.09.2021 20:57</p>
                            <a href="mike.html">
                                <img src="../../assets/images/avatars/mike2.jpeg" class="message_avatar">
                            </a>
                            <p class="in_message_text">
                                Понятно</p>
                        </div>
                        <div class="in_message">
                            <p class="in_message_date">Майк Иванов 01.09.2021 20:57</p>
                            <a href="mike.html">
                                <img src="../../assets/images/avatars/mike2.jpeg" class="message_avatar">
                            </a>
                            <p class="in_message_text">
                                Ты прочитал книжки которые задали на лето?</p>
                        </div>
                        <div class="out_message">
                            <p class="out_message_date">01.09.2021 20:57</p>
                            <p class="out_message_text">
                                Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum
                                является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий
                                безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem
                                Ipsum
                                для распечатки образцов.</p>
                        </div>
                        <div class="in_message">
                            <p class="in_message_date">Майк Иванов 01.09.2021 20:57</p>
                            <a href="mike.html">
                                <img src="../../assets/images/avatars/mike2.jpeg" class="message_avatar">
                            </a>
                            <p class="in_message_text">
                                Понятно</p>
                        </div>
                        <div class="out_message_didnt_read">
                            <p class="out_message_date">01.09.2021 20:57</p>
                            <p class="out_message_text">
                                Привет, как дела?</p>
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col-md-9">
                            <form>
                                <input id='input_text' type='text' placeholder="Введите сообщение..." class="w-100">
                            </form>
                        </div>
                        <div class="col-md-3">
                            <button class="grey-button" style="height: 68%;" onclick="send_message()">
                                Отправить
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer footer--dark">
        <div class="container">
            <div class="footer__inner">
                <div class="footer__data__item">
                    <div class="footer__row">
                        <a href="index.html" class="footer__textLogo">Академия будущего</a>
                    </div>
                    <div class="footer__row">
                        Logo
                    </div>
                </div>
                <div class="footer__data__item">
                    <div class="footer__row">Дзержинск Грибоедова 48</div>
                    <div class="footer__row">+7 (910) 799-15-24</div>
                    <div class="footer__row">8-800-555-35-35</div>
                </div>
                <div class="footer__data__item">
                    <div class="footer__row">
                        <a href="#" target="_blank" class="footer__link">Правила пользования Платформой</a>
                    </div>
                    <div class="footer__row">
                        <a href="#" target="_blank" class="footer__link">Политика конфиденциальности</a>
                    </div>
                </div>
                <div class="footer__data__item">
                    <div class="footer__row">
                        <a href="#" target="_blank" class="footer_social_link mb-2">
                            <img src="../../assets/images/vk.png" style="width: 30px;">
                        </a>
                        <a href="#" target="_blank" class="footer_social_link mb-2">
                            <img src="../../assets/images/instagram.png" style="width: 30px;">
                        </a>
                        <a href="#" target="_blank" class="footer_social_link mb-2">
                            <img src="../../assets/images/youtoube.png" style="width: 30px;">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    let myDiv = document.getElementById('messenger');
    myDiv.scrollTop = myDiv.scrollHeight;

    function getDate(){
        let today = new Date();
        let day = String(today.getDate()).padStart(2, '0');
        let month = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
        let year = today.getFullYear();
        let hours = today.getHours()
        let minutes = today.getMinutes()

        return day + '.' + month + '.' + year + ' ' + hours + ':' + minutes
    }

    function send_message() {
        let input_text = document.getElementById('input_text');
        let messenger_list = document.getElementById('messenger');
        let div = document.createElement('div');
        let p_date = document.createElement('p');
        let p_text = document.createElement('p');
        div.className = 'out_message_didnt_read';
        p_date.className = 'out_message_date';
        p_text.className = 'out_message_text';
        p_date.textContent = getDate();
        p_text.textContent = input_text.value;

        div.appendChild(p_date);
        div.appendChild(p_text);
        messenger_list.appendChild(div);
        messenger_list.scrollTop = messenger_list.scrollHeight;
        input_text.value = '';
    }
</script>
<script src='../../assets/js/main_app.min.js'></script>
<script src="../../assets/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>