<!DOCTYPE html>
<html lang='ru'>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Академия будущего</title>
    <link rel="stylesheet" href="../../assets/bootstrap/css/bootstrap.css">
    <link rel='stylesheet' href='../../assets/css/style.css'/>
    <style>
        .disabled {
            pointer-events: none;
            cursor: default;
            color: #888;
        }
    </style>
</head>
<body>
<div class="nav_bar">
    <nav class="nav__mobile"></nav>
    <div class="container">
        <div class="navbar__inner">
            <a href="../index.html" class="navbar__logo">Logo</a>
            <nav class="navbar__menu">
                <ul class="main-nav">
                    <li><a href="../index.html">Главная</a></li>
                    <li><a href="../education.html">Обучение</a></li>
                    <li><a href="../construction-page.html">Новости</a></li>
                    <li><a href="../construction-page.html">Об академии</a></li>
                    <li><a href="../construction-page.html">Контакты</a></li>
                </ul>
                <ul>
                    <li><a href="../profile.html">Иван Гришин</a></li>
                    <li>
                        <img class="center" src="../../assets/images/avatars/mike.jpeg"
                             style="display: inline-block; width: 30px; height: 30px; border: 0; border-radius: 50%; margin: auto; text-align: right">
                    </li>
                </ul>
            </nav>
            <div class="navbar__menu-mob"><a href="" id='toggle'>
                <svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                    <path fill="currentColor"
                          d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"
                          class=""></path>
                </svg>
            </a></div>
        </div>
    </div>
</div>
<div style="padding-top: 24pt;">
    <div class="step course__section center">
        <div class="container">
            <div class="row mt-5">
                <div class="col-md-6">
                    <img src="../../assets/images/python.png" class="my-4" style="width: 300px; border-radius: 5%;">
                </div>
                <div class="col-md-6 mt-5">
                    <p style="text-align: left">Курс</p>
                    <h1>Основы языка Python</h1>
                    <div class="left-align">
                        <h5 class="system-color">Преподаватель:</h5>
                        <a href="../profile/teacher.html">Ермакова Жанна Борисовна</a>
                    </div>
                    <div class="left-align">
                        <h5 class="system-color">Менеджер учебного процесса:</h5>
                        <a href="../profile/teacher.html">Макаров Николай Викторович</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="course__section">
        <div class="container pb-5">
            <div style="border-bottom: 1px solid gray">
                <h2 class="my-4 system-color">Урок № 1 - Введение.</h2>
                <p style="font-size: 18px;">Мы познакомимся с основами программирования и языком программирования
                    Python, научимся
                    устанавливать интерпретатор и среду разработки в операционную систему.</p>
            </div>
            <div class="center mt-5">
                <div class="mb-5 mt-1">
                    <img src="../../assets/images/icons/youtube-video-social-media-play_icon-icons.com_59108.png"
                         style="margin-right: 5px;">
                    <h3 style="display: inline-block; margin-top: 30px;">Онлайн трансляция урока:</h3>
                </div>
                <div class="mb-4">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/LFCq-mNF96c"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
                <hr/>
                <div class="mt-5 system-color">
                    <img src="../../assets/images/icons/download.png" style="margin-right: 5px; width: 26px;">
                    <a href="../../assets/files/test.pdf" download style="font-size: 18px">Скачать материал к уроку</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer footer--dark">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__data__item">
                <div class="footer__row">
                    <a href="../index.html" class="footer__textLogo">Академия будущего</a>
                </div>
                <div class="footer__row">
                    Logo
                </div>
            </div>
            <div class="footer__data__item">
                <div class="footer__row">Дзержинск Грибоедова 48</div>
                <div class="footer__row">+7 (910) 799-15-24</div>
                <div class="footer__row">8-800-555-35-35</div>
            </div>
            <div class="footer__data__item">
                <div class="footer__row">
                    <a href="#" target="_blank" class="footer__link">Правила пользования Платформой</a>
                </div>
                <div class="footer__row">
                    <a href="#" target="_blank" class="footer__link">Политика конфиденциальности</a>
                </div>
            </div>
            <div class="footer__data__item">
                <div class="footer__row">
                    <a href="#" target="_blank" class="footer_social_link mb-2">
                        <img src="../../assets/images/vk.png" style="width: 30px;">
                    </a>
                    <a href="#" target="_blank" class="footer_social_link mb-2">
                        <img src="../../assets/images/instagram.png" style="width: 30px;">
                    </a>
                    <a href="#" target="_blank" class="footer_social_link mb-2">
                        <img src="../../assets/images/youtoube.png" style="width: 30px;">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src='../../assets/js/main_app.min.js'></script>
<script src="../../assets/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>