<!DOCTYPE html>
<html lang='ru'>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Академия будущего</title>
    <link rel="stylesheet" href="../../assets/bootstrap/css/bootstrap.css">
    <link rel='stylesheet' href='../../assets/css/style.css'/>
    <style>
        .course_number {
            background-color: #d94625;
            border-radius: 50%;
            color: #ffffff;
            display: inline-block;
            margin-right: 10px;
            text-align: center;
            width: 30px;
        }
    </style>
</head>
<body>
<div class="nav_bar">
    <nav class="nav__mobile"></nav>
    <div class="container">
        <div class="navbar__inner">
            <a href="../index.html" class="navbar__logo">Logo</a>
            <nav class="navbar__menu">
                <ul class="main-nav">
                    <li><a href="../index.html">Главная</a></li>
                    <li><a href="../education.html">Обучение</a></li>
                    <li><a href="../construction-page.html">Новости</a></li>
                    <li><a href="../construction-page.html">Об академии</a></li>
                    <li><a href="../construction-page.html">Контакты</a></li>
                </ul>
                <ul>
                    <li><a href="../profile.html">Иван Гришин</a></li>
                    <li>
                        <img class="center" src="../../assets/images/avatars/mike.jpeg"
                             style="display: inline-block; width: 30px; height: 30px; border: 0; border-radius: 50%; margin: auto; text-align: right">
                    </li>
                </ul>
            </nav>
            <div class="navbar__menu-mob"><a href="" id='toggle'>
                <svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                    <path fill="currentColor"
                          d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"
                          class=""></path>
                </svg>
            </a></div>
        </div>
    </div>
</div>
<div style="padding-top: 24pt;">
    <div class="step course__section center">
        <div class="container">
            <div class="row mt-5">
                <div class="col-md-6">
                    <img src="../../assets/images/python.png" class="my-4" style="width: 300px; border-radius: 5%;">
                </div>
                <div class="col-md-6 mt-5">
                    <p style="text-align: left">Курс</p>
                    <h1>Основы языка Python</h1>
                    <h5>Преподаватель: <a href="../profile/teacher.html">Ермакова Жанна Борисовна</a></h5>
                    <h4>Стоимость обучения: <span style="color: #cc3e2b;">24000</span> рублей.</h4>
                    <button class="button button__accent" style="display: block; margin: 30px auto"> Записаться на
                        курс
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="course__section">
        <div class="container my-5">
            <p class="left-align"> На практих занятиях вы изучите основы современного языка программирования Python,
                научитесь писать программы и разрабатывать простые веб-приложения с индивидуальной помощью от
                преподавателя. Всего за 3 месяца вы изучите основы данного языка, познакомитесь с его особенностями
                и сможете продолжать обучение, чтобы в будущем стать востребованным разработчиком. Для прохождения
                данного курса опыт программирования не нужен. </p>
            <p class="left-align">Python — высокоуровневый язык программирования общего назначения с динамической
                строгой типизацией и автоматическим управлением памятью, ориентированный на повышение
                производительности разработчика, читаемости кода и его качества, а также на обеспечение
                переносимости написанных на нём программ. Язык является полностью объектно-ориентированным — всё
                является объектами. Необычной особенностью языка является выделение блоков кода пробельными
                отступами. Синтаксис ядра языка минималистичен, за счёт чего на практике редко возникает
                необходимость обращаться к документации. Сам же язык известен как интерпретируемый и
                используется в том числе для написания скриптов. </p>
        </div>
    </div>
    <div class="course__section">
        <div class="container pb-5">
            <h2 style="color: #cc3e2b;">Как проходит обучение</h2>
            <div class="row">
                <div class="col-md-6 px-2">
                    <h3><span class="course_number">1</span>Изучаете темы уроков с преподавателем</h3>
                    <small>Учитесь с преподавателем в режиме онлайн, так же вам будут доступны записи уроков</small>
                </div>
                <div class="col-md-6 px-2">
                    <h3><span class="course_number">2</span>Выполняете домашние задания</h3>
                    <small>Преподаватель проверяет выполненное вами домашнее задание и ставит оценку</small>
                </div>
                <div class="col-md-6 px-2">
                    <h3><span class="course_number">3</span>Решаете контрольные работы</h3>
                    <small>Вы так же будете выполнять контрольные работы по пройденному материалу и получать за них
                        оценки</small>
                </div>
                <div class="col-md-6 px-2">
                    <h3><span class="course_number">4</span>Сдаете экзамен</h3>
                    <small>По окончанию курса вы сдаете экзамен и получаете сертификат о прохождении курса</small>
                </div>
            </div>
        </div>
    </div>
    <div class="course__section">
        <div class="container pb-5">
            <h2>Программа курса:</h2>
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-heading1">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapse1" aria-expanded="false"
                                aria-controls="flush-collapse1">
                            Введение
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                         data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <p>
                                Мы познакомимся с основами программирования и языком программирования Python, научимся
                                устанавливать интерпретатор и среду разработки в операционную систему.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                aria-controls="flush-collapseTwo">
                            Операторы, выражения
                        </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse"
                         aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <p>
                                На данном уроке мы познаомимся с основными операторами языка Python и ты напишешь свою
                                первую программу.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseThree" aria-expanded="false"
                                aria-controls="flush-collapseThree">
                            Условный оператор if, ветвления.
                        </button>
                    </h2>
                    <div id="flush-collapseThree" class="accordion-collapse collapse"
                         aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <p>
                                Пришло время более сложных познаний! В этом уроке мы познакомимся с условиями в
                                программировании, ваш мир никогда не станет прежним.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseFour" aria-expanded="false"
                                aria-controls="flush-collapseFour">
                            Циклы в языке Python.
                        </button>
                    </h2>
                    <div id="flush-collapseFour" class="accordion-collapse collapse"
                         aria-labelledby="flush-headingFour"
                         data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <p>
                                Что нужно сделать чтобы доказать всем что ты крутой программист? Правильно, изучить
                                циклы, с помощью которых твои программы смогут повторять действия определенный
                                колличества раз.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingFive">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseFive" aria-expanded="false"
                                aria-controls="flush-collapseFive">
                            Типы данных
                        </button>
                    </h2>
                    <div id="flush-collapseFive" class="accordion-collapse collapse"
                         aria-labelledby="flush-headingFive"
                         data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <p>
                                Как же мы будем писать сложные программы, если не знаем с чем мы работаем? На этом
                                уроке мы познакомимся какие типы данных существуют в языке Python.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingSix">
                        <button class="accordion-button collapsed" type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseSix" aria-expanded="false"
                                aria-controls="flush-collapseSix">
                            Функции
                        </button>
                    </h2>
                    <div id="flush-collapseSix" class="accordion-collapse collapse"
                         aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <p>
                                Главное правило программиста - не повторяй себя! Утомительно писать один и тот же
                                код несколько раз, для этого и существуют функции, и в этом уроке мы с ними
                                познакомимся.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="cta cta--reverse">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h3 class="cta__title">Записаться на курс или получить бесплатную консультацию</h3>
                <p>Наш специалист свяжестся с вами м предоставит подробную информацию с презентацией курса.</p>
            </div>
            <div class="col-md-7 px-5 mt-4">
                <form>
                    <input type='text' placeholder="ФИО...">
                    <div class="double">
                        <div class="half">
                            <input type="text" id="first" placeholder="Телефон...">
                        </div>
                        <div class="half">
                            <input type="text" id="second" placeholder="Электронная почта...">
                        </div>
                    </div>
                    <button class="button button__accent w-100"> Отправить</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="footer footer--dark">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__data__item">
                <div class="footer__row">
                    <a href="../index.html" class="footer__textLogo">Академия будущего</a>
                </div>
                <div class="footer__row">
                    Logo
                </div>
            </div>
            <div class="footer__data__item">
                <div class="footer__row">Дзержинск Грибоедова 48</div>
                <div class="footer__row">+7 (910) 799-15-24</div>
                <div class="footer__row">8-800-555-35-35</div>
            </div>
            <div class="footer__data__item">
                <div class="footer__row">
                    <a href="#" target="_blank" class="footer__link">Правила пользования Платформой</a>
                </div>
                <div class="footer__row">
                    <a href="#" target="_blank" class="footer__link">Политика конфиденциальности</a>
                </div>
            </div>
            <div class="footer__data__item">
                <div class="footer__row">
                    <a href="#" target="_blank" class="footer_social_link mb-2">
                        <img src="../../assets/images/vk.png" style="width: 30px;">
                    </a>
                    <a href="#" target="_blank" class="footer_social_link mb-2">
                        <img src="../../assets/images/instagram.png" style="width: 30px;">
                    </a>
                    <a href="#" target="_blank" class="footer_social_link mb-2">
                        <img src="../../assets/images/youtoube.png" style="width: 30px;">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src='../../assets/js/main_app.min.js'></script>
<script src="../../assets/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>