.invisible {
    opacity: 0;
    transition: 0.7s;
}

.fakefield {
    display: none;
}

.left-align {
    text-align: left;
}

.center, center-align {
    text-align: center;
}

.right-align {
    text-align: right;
}

.stress {
    color: #111;
}

.system-color {
    color: #63a9da;
}

.row100 {
    display: block;
    width: 100%;
    clear: both;
}

.half {
    width: 50%;
    overflow: auto;
    float: left;
}

.text-container {
    max-width: 640px;
}

.text-container--center {
    margin-left: auto;
    margin-right: auto;
}

.margin-right {
    margin-right: 8pt;
}

::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    font-size: .9em;
    opacity: .65;
    color: #666;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    font-size: .9em;
    opacity: .65;
    color: #666;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    font-size: .9em;
    opacity: .65;
    color: #666;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 + lt if placeholders.js */
    font-size: .9em;
    opacity: .65;
    color: #666;
}

.landing__section {
    padding: 24pt 0;
}

.landing__section:nth-child(odd) {
    background-color: #f7f7f7;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.course__section {
    padding: 12pt 0;
}

.course__section:nth-child(odd) {
    background-color: #f7f7f7;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.auth {
    padding-top: 102.66667px;
}

.auth__inner {
    min-height: calc(100vh - 188px);
    -js-display: flex;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

@media (min-width: 992px) {
    .auth__inner {
        flex-direction: row;
    }
}

@media (min-width: 992px) {
    .auth__media {
        width: 50%;
        flex-shrink: 0;
        margin-left: 0;
    }
}

.auth__media img, .auth__media svg {
    max-height: 150px;
    max-width: 90%;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-left: 15%;
}

@media (min-width: 600px) {
    .auth__media img, .auth__media svg {
        max-height: 300px;
    }
}

@media (min-width: 992px) {
    .auth__media img, .auth__media svg {
        max-height: 400px;
    }
}

.auth__auth {
    text-align: center;
}

@media (min-width: 992px) {
    .auth__auth {
        width: 50%;
        flex-shrink: 0;
    }
}

.auth__title {
    font-size: 1.728em;
}

.page__header {
    position: relative;
    color: #ffffff;
    box-shadow: 0 4px 11px rgba(124, 146, 169, 0.5);
    width: 100%;
}

.page__header__inner {
    padding: 66px 0 0 0;
    position: relative;
    z-index: 3;
}

.page__header__content {
    -js-display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32pt 0;
    overflow: auto;
}

.page__header__content__inner {
    width: 100%;
    max-width: 66ch;
    text-align: center;
}

/*--- CONTENT STYLING ---*/
.page__header__title {
    color: inherit;
    margin-bottom: 1.25em;
}

.page__header__text {
    opacity: 0.85;
    line-height: 1.7;
    text-align: left;
}

.page {
    padding: 24pt 0;
}

@media (min-width: 992px) {
    .page__inner {
        -js-display: flex;
        display: flex;
    }
}

.page__menu {
    width: 100%;
    position: relative;
}

@media (min-width: 992px) {
    .page__menu {
        display: block;
        width: 200px;
        flex-shrink: 0;
        background-color: #f7f7f7;
        border: 0;
        border-radius: 5%;
        margin-right: 50px;
    }
}

.page__main {
    flex-grow: 1;
    background-color: #ffffff;
    /*padding: 20px 40px;*/
}

@media (min-width: 992px) {
    .page__main {
        flex-grow: 1;
        padding: 20px 40px;
        border: 0;
        border-radius: 5%;
    }
}

.page__main__title {
    margin-top: 0.75em;
}

.page__image {
    max-width: 100%;
}

.app__header {
    position: relative;
    color: #ffffff;
    box-shadow: 0 4px 11px rgba(124, 146, 169, 0.5);
    width: 100%;
}

.app__header__inner {
    padding: 66px 0 0 0;
    position: relative;
    z-index: 3;
}

.app__header__content {
    -js-display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32pt 0;
    overflow: auto;
}

.app__header__content__inner {
    width: 100%;
    max-width: 66ch;
    text-align: center;
}

/*--- CONTENT STYLING ---*/
.app__header__title {
    color: inherit;
    margin-bottom: 1.25em;
}

.app__header__text {
    opacity: 0.85;
    line-height: 1.7;
    text-align: left;
}

.app {
    padding: calc(81.33333px) 0;
}

@media (min-width: 992px) {
    .app__inner {
        -js-display: flex;
        display: flex;
    }
}

.app__menu {
    width: 100%;
    position: relative;
}

@media (min-width: 992px) {
    .app__menu {
        display: block;
        width: 300px;
        flex-shrink: 0;
    }
}

.app__main {
    flex-grow: 1;
}

.app__main__title {
    margin-top: 0.75em;
}

.app__image {
    max-width: 100%;
}

.notification_numbers {
    width: 18px;
    background-color: #d94625;
    display: inline-block;
    border-radius: 50%;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    margin-left: 7px;
}

.groups {
    border-bottom: 1px solid #ebebeb;
}

.group-image {
    margin-right: 15px;
}

.group-text {
    display: inline-block;
}

.group-text button {
    border: none;
    color: #000000;
    font-weight: bold;
}

.group-text button:hover {
    background: linear-gradient(to right, #eb934f, #63a9da) 47% 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.group-active {
    border-bottom: 3px solid;
    border-image: linear-gradient(to right, #eb934f, #63a9da) 47% 0;
}

.category-area {
    display: inline;
    margin: 10px;
}

.category-button {
    background-color: #ffffff;
    border: 0.5px solid;
    border-image: linear-gradient(to right, #eb934f, #63a9da) 47% 0;
    border-image-slice: 1;
    color: #000000;
    border-radius: 5%;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.category-button:hover {
    box-shadow: -5px 0 8px 1px rgba(235, 147, 79, 0.6),
    5px 0 8px 1px rgba(99, 169, 218, 0.6);
}